{% extends 'principal.html' %}

{% block content %}

<div class="container mt-4">
    <h2 class="mb-4 text-center">{{ titulo }}</h2>

    <div class="table-responsive  aling-items-center">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    {% for campo in datos.keys %}
                        <th class="text-capitalize">{{ campo }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for valor in datos.values %}
                        <td>{{ valor }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}