<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Centro Cultural{% endblock %}</title>
</head>
<body>

    <h1>Centro Cultural</h1>

    <nav>
        <a href="/actividades/">Actividades</a> |
        <a href="/usuarios/">Usuarios</a> |
        <a href="/monitores/">Monitores</a> |
        <a href="/salas/">Salas</a>
    </nav>

    <hr>
     {% block content %}
    {% endblock %}

</body>
</html>